main {
  padding-bottom: 200px; }
  main .newsDetail {
    width: 828px;
    margin: 0 auto;
    padding-top: 33px;
    color: #7f2334;
    font-weight: bold;
    position: relative;
    z-index: 1; }
    main .newsDetail .title {
      width: 158px;
      margin: 0 auto; }
    main .newsDetail__inner {
      background: url(../common/img/textback.svg) repeat-y;
      width: 828px;
      padding: 85px 105px 33px;
      position: relative;
      background-size: 100%;
      font-size: 14px; }
      main .newsDetail__inner .date {
        background: url(../common/img/bananaLine.svg) no-repeat;
        width: 112px;
        height: 23px;
        color: #e9528e;
        padding-top: 2px;
        font-size: 11px;
        background-size: cover; }
      main .newsDetail__inner .subject {
        font-weight: 700;
        margin: 8px 0 15px;
        font-size: 24px; }
      main .newsDetail__inner .subject::before {
        width: 11px;
        height: 19px;
        margin-right: 5px;
        content: '';
        display: inline-block;
        background: url(../common/img/hart.svg) no-repeat;
        background-size: cover; }
      main .newsDetail__inner p:nth-of-type(3) {
        margin-bottom: 5px; }
      main .newsDetail__inner p:nth-of-type(4) {
        margin-bottom: 20px; }
      main .newsDetail__inner p:nth-of-type(5) {
        margin-bottom: 20px; }
      main .newsDetail__inner p:nth-of-type(6) {
        margin-bottom: 25px; }
      main .newsDetail__inner p:nth-of-type(7) {
        margin-bottom: 3px;
        font-size: 17px; }
      main .newsDetail__inner .marginBottom {
        margin-bottom: 5px; }
      main .newsDetail__inner .textIndent {
        text-indent: 70px; }
      main .newsDetail__inner .btnPrev {
        background: url(../common/img/prevpink.svg) no-repeat;
        background-size: cover;
        width: 53px;
        height: 13px;
        position: absolute;
        bottom: -5px;
        left: 55px; }
      main .newsDetail__inner .end {
        width: 828px;
        height: 36px;
        background: url(../common/img/textback.svg) no-repeat;
        background-size: cover;
        position: absolute;
        bottom: -24px;
        left: 0;
        z-index: -1; }
      main .newsDetail__inner .btnBack {
        background: url(../common/img/back.svg) no-repeat;
        width: 73px;
        height: 81px;
        cursor: pointer;
        position: absolute;
        bottom: -121px;
        left: 364px; }
        main .newsDetail__inner .btnBack a {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
